.main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}
body {
    font-size: 100%;
}

h1 {
    font-size: 3em;
    clear: both;
}
.temperatures {
   float: left;
    width: 15%;
}
.detectors {
   float: left;
    width: 50%;
}
.daq {
   float: left;
    width: 35%;
}
